.dms_prf {
  position: relative;
  display: flex;

  width: 100%;


  font-family: $mainFont;

  overflow: scroll;

  @media screen and (min-width: 768px) {
    margin-left: 25rem;
  }
}

.dms_prf-id {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  width: 100%;

  @media screen and (min-width: 768px) {
    &--width {
      width: 50%;
    }
  }
}

.dms_prf__title-wrapper {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  min-height: 4rem;

  border-bottom: 1px solid $gray;
  background-color: $white;

  z-index: 2;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.dms_prf__title-item {
  font-size: $mainFs;
  font-weight: 300;
  color: $darkgray;
}

.dms_prf__icon-cell {
  position: absolute;
  top: 0;

  display: none;
  justify-content: center;
  align-items: center;

  width: 4rem;
  height: 4rem;

  cursor: pointer;

  &--right {
    right: 1rem;
  }

  &--left {
    left: 1rem;
  }

  &--small {
    width: 3rem;
    height: 4rem;
  }

  &.active {
    display: flex;

  }
}

.dms_prf__icon {
  width: 4rem;
  height: 4rem;

  fill: $base;

  &--red {
    fill: $red;
  }
}


// Block
.dms_prf__block {
  display: flex;
  flex-wrap: wrap;

  width: 100%;

  padding-left: 1.6rem;
  padding-right: 1.6rem;
  box-sizing: border-box;

  &--pt {
    padding-top: 4rem;
  }
}

.dms_prf__block-title {
  display: flex;
  align-items: center;

  width: 100%;
  min-height: 4rem;

  margin-top: 1rem;

  font-size: $mainFs;
  color: $exdarkgray;

  border-bottom: 1px solid $lightgray;
}

.dms_prf__block-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  width: 100%;

  padding-top: 1.6rem;
  padding-bottom: 1.6rem;
  box-sizing: border-box;
}

.dms_prf__img-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 16rem;
  height: 16rem;

  border-radius: 16rem;

  &:hover .dms_prf__img-wrapper-over {
    display: flex;
    cursor: pointer;
  }
}

.dms_prf__img {
  width: 16rem;
}

.dms_prf__img-wrapper-over {
  display: none;
  position: absolute;
  top: 0;
  left: 0;

  justify-content: center;
  align-items: center;

  width: 16rem;
  height: 16rem;

  padding: 3rem;
  box-sizing: border-box;

  border-radius: 16rem;
  background-color: rgba($base, 0.5);
}


.dms_prf__content-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  width: 100%;
}

.dms_prf__content-item {
  display: flex;
  flex-wrap: wrap;

  width: 100%;

  margin-bottom: 1.6rem;

  &--sb {
    justify-content: space-between;
  }
}

.dms_prf__header-low {
  margin-bottom: 0.8rem;
  width: 100%;
  font-size: $s-Fs;
  font-weight: 300;
  color: $midgray;

  &--width {
    width: auto;
  }
}

.dms_prf__txt-input-block {
  position: relative;
  display: flex;
  align-items: center;

  width: 100%;
  height: 2.8rem;

  &:hover .dms_prf__txt-input {
    display: block;
  }
}

.dms_prf__txt-placeholder {
  position: absolute;
  top: 0;
  left: 0;

  display: none;

  font-size: $mainFs;
  font-weight: 300;
  color: $gray;

  &.active {
    display: block;
  }
}

.dms_prf__txt {
  width: 100%;
  font-size: $mainFs;
  font-weight: 400;
  color: $darkgray;
}

.dms_prf__txt-input {
  position: absolute;
  top: 0;
  left: 0;

  display: none;

  width: 25rem;
  height: 2.8rem;

  padding-left: 1rem;
  padding-right: 1rem;
  box-sizing: border-box;

  font-size: $mainFs;
  font-weight: 300;
  color: $darkgray;

  border: 1px solid $lightgray;
  border-radius: 0.5rem;

  z-index: 1;
}

