<div class="dms_prf-id">
  <h2 class="dms_prf__title-item">Биометрия</h2>


  <article class="dms_prf__block">
    <h3 class="dms_prf__block-title">Face ID</h3>
    <div class="dms_prf__block-content">
      <ul class="dms_prf__content-list">
        <li class="dms_prf__content-item">
          <p class="dms_prf__txt">2134567765345</p>
        </li>
      </ul>
    </div>
  </article>


  <article class="dms_prf__block">
    <h3 class="dms_prf__block-title">Отпечаток пальца</h3>
    <div class="dms_prf__block-content">
      <ul class="dms_prf__content-list">
        <li class="dms_prf__content-item">
          <p class="dms_prf__txt">Указательный</p>
        </li>
      </ul>
    </div>
  </article>


  <article class="dms_prf__block">
    <h3 class="dms_prf__block-title">Рост</h3>
    <div class="dms_prf__block-content">
      <ul class="dms_prf__content-list">
        <li class="dms_prf__content-item">
          <p class="dms_prf__txt">189 см</p>
        </li>
      </ul>
    </div>
  </article>


  <article class="dms_prf__block">
    <h3 class="dms_prf__block-title">Вес</h3>
    <div class="dms_prf__block-content">
      <ul class="dms_prf__content-list">
        <li class="dms_prf__content-item">
          <p class="dms_prf__txt">89 кг</p>
        </li>
      </ul>
    </div>
  </article>

  <article class="dms_prf__block">
    <h3 class="dms_prf__block-title">Размер стопы</h3>
    <div class="dms_prf__block-content">
      <ul class="dms_prf__content-list">
        <li class="dms_prf__content-item">
          <p class="dms_prf__txt">43 EU</p>
        </li>
      </ul>
    </div>
  </article>





</div>