<div class="dms_prf-id dms_prf-id--width">
  <h2 class="dms_prf__title-item">Настройки входа</h2>


  <article class="dms_prf__block">
    <h3 class="dms_prf__block-title">Логин</h3>
    <div class="dms_prf__block-content">
      <ul class="dms_prf__content-list">
        <li class="dms_prf__content-item dms_prf__content-item--sb">
          <p class="dms_prf__header-low dms_prf__header-low--width">qwerty124</p>
          <img src="/img/switch.svg" alt="stch" class="dms_prf__icon">
        </li>
      </ul>
    </div>
  </article>

  <article class="dms_prf__block">
    <h3 class="dms_prf__block-title">E-mail</h3>
  </article>

  <article class="dms_prf__block">
    <h3 class="dms_prf__block-title">Телефон</h3>
    <div class="dms_prf__block-content">
      <ul class="dms_prf__content-list">
        <li class="dms_prf__content-item dms_prf__content-item--sb">
          <p class="dms_prf__header-low dms_prf__header-low--width">+7(904)637-76-34</p>
          <img src="/img/switch.svg" alt="stch" class="dms_prf__icon">
        </li>
      </ul>
    </div>
  </article>

  <article class="dms_prf__block">
    <h3 class="dms_prf__block-title">Face ID</h3>
  </article>

  <article class="dms_prf__block">
    <h3 class="dms_prf__block-title">Отпечаток пальца</h3>
    <div class="dms_prf__block-content">
      <ul class="dms_prf__content-list">
        <li class="dms_prf__content-item dms_prf__content-item--sb">
          <p class="dms_prf__header-low dms_prf__header-low--width">Указательный</p>
          <img src="/img/switch.svg" alt="stch" class="dms_prf__icon">
        </li>
      </ul>
    </div>
  </article>





</div>