<div id="prfsn" class="dms_prf-id">
  <!-- Title -->
  <div class="dms_prf__title-wrapper">
    <h2 class="dms_prf__title-item">Активные сессии</h2>

    <div class="dms_prf__icon-cell dms_prf__icon-cell--right dms_prf__icon-cell--small"
         :class="{ active: status }"
         @click="getStatus"

    >
      <svg class="dms_prf__icon" role="button">
        <use xlink:href="#icon-prf-correct"></use>
      </svg>
    </div>

    <div class="dms_prf__icon-cell dms_prf__icon-cell--right"
         :class="{ active: !status }"
    >
      <svg class="dms_prf__icon" role="button">
        <use xlink:href="#icon-single-check"></use>
      </svg>
    </div>
    <div class="dms_prf__icon-cell dms_prf__icon-cell--left dms_prf__icon-cell--small"
         :class="{ active: !status }"
         @click="getStatus"
    >
      <svg class="dms_prf__icon dms_prf__icon--red" role="button">
        <use xlink:href="#icon-cross"></use>
      </svg>
    </div>
  </div>
  <!-- =========== -->


  <article class="dms_prf__block dms_prf__block--pt">
<!--    <h3 class="dms_prf__block-title"></h3>-->
    <div class="dms_prf__block-content">
      <ul class="dms_prf__content-list">
        <li class="dms_prf__content-item">
          <p class="dms_prf__header-low">Устройство</p>
          <p class="dms_prf__txt dms_prf__txt--green dms_prf__txt--bold">Это устройство</p>
        </li>
        <li class="dms_prf__content-item">
          <p class="dms_prf__header-low">IP-адрес</p>
          <p class="dms_prf__txt">199.29.38.10</p>
        </li>
        <li class="dms_prf__content-item">
          <p class="dms_prf__header-low">Дата и время входа</p>
          <p class="dms_prf__txt">26.04.2021   12:45</p>
        </li>
      </ul>
    </div>

    <div class="dms_prf__block-content">
      <ul class="dms_prf__content-list">
        <li class="dms_prf__content-item">
          <p class="dms_prf__header-low">Устройство</p>
          <p class="dms_prf__txt">Windows PC Google</p>
        </li>
        <li class="dms_prf__content-item">
          <p class="dms_prf__header-low">IP-адрес</p>
          <p class="dms_prf__txt">140.25.30.10</p>
        </li>
        <li class="dms_prf__content-item">
          <p class="dms_prf__header-low">Дата и время входа</p>
          <p class="dms_prf__txt">12.03.2021   11:47</p>
        </li>
      </ul>
    </div>
  </article>


</div>


<script>
  const prfct =  new Vue({
    el: '#prfsn',
    data: () => ({
      status: true,
    }),
    methods: {
      getStatus () {
        this.status = !this.status
      },
    },
    computed: {

    }

  })

</script>