<div class="dms_prf-id">
  <h2 class="dms_prf__title-item">Стиль интерфейса</h2>


  <article class="dms_prf__block">
    <h3 class="dms_prf__block-title">Системный стиль</h3>
    <div class="dms_prf__block-content">
      <ul class="dms_prf__content-list">
        <li class="dms_prf__content-item">
          <p class="dms_prf__txt">Стиль по умолчанию (Белый)</p>
          <p class="dms_prf__txt">Стиль по умолчанию (Белый)</p>
          <p class="dms_prf__txt">Стиль по умолчанию (Белый)</p>
        </li>
      </ul>
    </div>
  </article>


  <article class="dms_prf__block">
    <h3 class="dms_prf__block-title">Пользовательские стили</h3>
    <div class="dms_prf__block-content">
      <ul class="dms_prf__content-list">
        <li class="dms_prf__content-item">
          <p class="dms_prf__txt">Стиль по умолчанию (Белый)</p>
          <p class="dms_prf__txt">Стиль по умолчанию (Белый)</p>
          <p class="dms_prf__txt">Стиль по умолчанию (Белый)</p>
        </li>
      </ul>
    </div>
  </article>





</div>