<div class="dms_prf-id">
  <h2 class="dms_prf__title-item">Геолокация</h2>


  <article class="dms_prf__block">
    <h3 class="dms_prf__block-title">Часовой пояс</h3>
    <div class="dms_prf__block-content">
      <ul class="dms_prf__content-list">
        <li class="dms_prf__content-item dms_prf__content-item--sb">
          <p class="dms_prf__header-low dms_prf__header-low--width">Автоматический</p>
          <img src="/img/switch.svg" alt="stch" class="dms_prf__icon">
        </li>
      </ul>
    </div>
  </article>





</div>