<div class="dms_prf-id">
  <h2 class="dms_prf__title-item">Группы</h2>


  <article class="dms_prf__block">
    <h3 class="dms_prf__block-title">Создать группу</h3>
    <div class="dms_prf__block-content">
      <ul class="dms_prf__content-list">
        <li class="dms_prf__content-item dms_prf__content-item--sb">
          <p class="dms_prf__header-low dms_prf__header-low--width">Личный кабинет</p>
          <img src="/img/radio.svg" alt="stch" class="dms_prf__icon dms_prf__icon--sq">
        </li>
        <li class="dms_prf__content-item dms_prf__content-item--sb">
          <p class="dms_prf__header-low dms_prf__header-low--width">Работа</p>
          <img src="/img/radio.svg" alt="stch" class="dms_prf__icon dms_prf__icon--sq">
        </li>
      </ul>
    </div>
  </article>


</div>