
  <ul class="dms_prf-sidebar__list">
    <li class="dms_prf-sidebar__item active">
      <div class="dms_prf-sidebar__icon-cell">
        <svg class="dms_prf-sidebar__item-icon" role="presentation">
          <use xlink:href="#icon-prf-id"></use>
        </svg>
      </div>
      <p class="dms_prf-sidebar__title">Личные данные</p>
      <a href="/prf-id" class="dms_prf-sidebar__link"></a>
    </li>

    <li class="dms_prf-sidebar__item">
      <div class="dms_prf-sidebar__icon-cell">
        <svg class="dms_prf-sidebar__item-icon" role="presentation">
          <use xlink:href="#icon-prf-contact"></use>
        </svg>
      </div>
      <p class="dms_prf-sidebar__title">Контактные данные</p>
      <a href="/prf-contacts" class="dms_prf-sidebar__link"></a>
    </li>

    <li class="dms_prf-sidebar__item">
      <div class="dms_prf-sidebar__icon-cell">
        <svg class="dms_prf-sidebar__item-icon" role="presentation">
          <use xlink:href="#icon-prf-active-session"></use>
        </svg>
      </div>
      <p class="dms_prf-sidebar__title">Активные сессии</p>
      <a href="/prf-sessions" class="dms_prf-sidebar__link"></a>
    </li>

    <li class="dms_prf-sidebar__item">
      <div class="dms_prf-sidebar__icon-cell">
        <svg class="dms_prf-sidebar__item-icon" role="presentation">
          <use xlink:href="#icon-prf-settings"></use>
        </svg>
      </div>
      <p class="dms_prf-sidebar__title">Настройки входа</p>
      <a href="/prf-settings" class="dms_prf-sidebar__link"></a>
    </li>

    <li class="dms_prf-sidebar__item">
      <div class="dms_prf-sidebar__icon-cell">
        <svg class="dms_prf-sidebar__item-icon" role="presentation">
          <use xlink:href="#icon-prf-style"></use>
        </svg>
      </div>
      <p class="dms_prf-sidebar__title">Стиль интерфейса</p>
      <a href="/prf-style" class="dms_prf-sidebar__link"></a>
    </li>

    <li class="dms_prf-sidebar__item">
      <div class="dms_prf-sidebar__icon-cell">
        <svg class="dms_prf-sidebar__item-icon" role="presentation">
          <use xlink:href="#icon-prf-biometric"></use>
        </svg>
      </div>
      <p class="dms_prf-sidebar__title">Биометрия</p>
      <a href="/prf-bio" class="dms_prf-sidebar__link"></a>
    </li>

    <li class="dms_prf-sidebar__item">
      <div class="dms_prf-sidebar__icon-cell">
        <svg class="dms_prf-sidebar__item-icon" role="presentation">
          <use xlink:href="#icon-prf-doc"></use>
        </svg>
      </div>
      <p class="dms_prf-sidebar__title">Документы</p>
      <a href="/prf-doc" class="dms_prf-sidebar__link"></a>
    </li>

    <li class="dms_prf-sidebar__item">
      <div class="dms_prf-sidebar__icon-cell">
        <svg class="dms_prf-sidebar__item-icon" role="presentation">
          <use xlink:href="#icon-prf-access"></use>
        </svg>
      </div>
      <p class="dms_prf-sidebar__title">Доступ</p>
      <a href="/prf-access" class="dms_prf-sidebar__link"></a>
    </li>

    <li class="dms_prf-sidebar__item">
      <div class="dms_prf-sidebar__icon-cell">
        <svg class="dms_prf-sidebar__item-icon" role="presentation">
          <use xlink:href="#icon-prf-location"></use>
        </svg>
      </div>
      <p class="dms_prf-sidebar__title">Геолокация</p>
      <a href="/prf-location" class="dms_prf-sidebar__link"></a>
    </li>

    <li class="dms_prf-sidebar__item">
      <div class="dms_prf-sidebar__icon-cell">
        <svg class="dms_prf-sidebar__item-icon" role="presentation">
          <use xlink:href="#icon-prf-group"></use>
        </svg>
      </div>
      <p class="dms_prf-sidebar__title">Группы</p>
      <a href="/prf-group" class="dms_prf-sidebar__link"></a>
    </li>
  </ul>

