<div class="dms_prf-id">
  <h2 class="dms_prf__title-item">Контактные данные</h2>


  <article class="dms_prf__block">
    <h3 class="dms_prf__block-title">E-mail</h3>
    <div class="dms_prf__block-content">
      <ul class="dms_prf__content-list">
        <li class="dms_prf__content-item">
          <p class="dms_prf__header-low">Рабочий</p>
          <p class="dms_prf__txt">login123@yandex.ru</p>
        </li>
        <li class="dms_prf__content-item">
          <p class="dms_prf__header-low">Личный</p>
          <p class="dms_prf__txt">qwerty134@mail.ru</p>
        </li>
      </ul>
    </div>
  </article>

  <article class="dms_prf__block">
    <h3 class="dms_prf__block-title">Мессенджеры</h3>
    <div class="dms_prf__block-content">
      <ul class="dms_prf__content-list">

      </ul>
    </div>
  </article>


  <article class="dms_prf__block">
    <h3 class="dms_prf__block-title">Телефон</h3>
    <div class="dms_prf__block-content">
      <ul class="dms_prf__content-list">
        <li class="dms_prf__content-item">
          <p class="dms_prf__header-low">Рабочий</p>
          <p class="dms_prf__txt">+7(904)637-76-34</p>
        </li>
        <li class="dms_prf__content-item">
          <p class="dms_prf__header-low">Личный</p>
          <p class="dms_prf__txt">+7(904)637-76-34</p>
        </li>
      </ul>
    </div>
  </article>

  <article class="dms_prf__block">
    <h3 class="dms_prf__block-title">Адрес</h3>
    <div class="dms_prf__block-content">
      <ul class="dms_prf__content-list">
        <li class="dms_prf__content-item">
          <p class="dms_prf__header-low">Рабочий</p>
          <p class="dms_prf__txt">Россия, г. Москва, ул. Ленина, д.12, кв. 36</p>
        </li>
        <li class="dms_prf__content-item">
          <p class="dms_prf__header-low">Личный</p>
          <p class="dms_prf__txt">Россия, г. Москва, ул. Ленина, д.12, кв. 36</p>
        </li>
      </ul>
    </div>
  </article>



</div>