<div class="dms_prf-id">
  <h2 class="dms_prf__title-item">Доступ</h2>


  <article class="dms_prf__block">
    <h3 class="dms_prf__block-title">Фото</h3>
  </article>

  <article class="dms_prf__block">
    <h3 class="dms_prf__block-title">ФИО</h3>
  </article>

  <article class="dms_prf__block">
    <h3 class="dms_prf__block-title">Дата рождения</h3>
  </article>

  <article class="dms_prf__block">
    <h3 class="dms_prf__block-title">Гражданство</h3>
  </article>

  <article class="dms_prf__block">
    <h3 class="dms_prf__block-title">E-mail</h3>
  </article>

  <article class="dms_prf__block">
    <h3 class="dms_prf__block-title">Телефон</h3>
  </article>

  <article class="dms_prf__block">
    <h3 class="dms_prf__block-title">Мессенджеры и соц. сети</h3>
  </article>



  <article class="dms_prf__block">
    <h3 class="dms_prf__block-title">Часовой пояс</h3>
  </article>



  <article class="dms_prf__block">
    <h3 class="dms_prf__block-title">Паспорт (действующий)</h3>
  </article>



  <article class="dms_prf__block">
    <h3 class="dms_prf__block-title">Рост</h3>
  </article>



  <article class="dms_prf__block">
    <h3 class="dms_prf__block-title">Вес</h3>
  </article>





</div>