<div class="dms_menu-sidebar__wrapper">
  <div class="dms_menu-sidebar__header">
    <img src="img/logo-DMS.svg" alt="логотип компании" class="dms_menu-sidebar__header-logo">
  </div>

  <ul class="dms_menu-sidebar__list">
    <li class="dms_menu-sidebar__item">
      <div class="dms_menu-sidebar__icon-cell">
        <svg class="dms_menu-sidebar__item-icon" role="presentation">
          <use xlink:href="#icon-sb-home"></use>
        </svg>
      </div>
      <p class="dms_menu-sidebar__title">Главная</p>
    </li>
    <li class="dms_menu-sidebar__item active">
      <div class="dms_menu-sidebar__icon-cell">
        <svg class="dms_menu-sidebar__item-icon" role="presentation">
          <use xlink:href="#icon-sb-profile"></use>
        </svg>
      </div>
      <p class="dms_menu-sidebar__title">Профиль</p>
    </li>
    <li class="dms_menu-sidebar__item">
      <div class="dms_menu-sidebar__icon-cell">
        <svg class="dms_menu-sidebar__item-icon" role="presentation">
          <use xlink:href="#icon-sb-status"></use>
        </svg>
      </div>
      <p class="dms_menu-sidebar__title">Статусы</p>
    </li>
    <li class="dms_menu-sidebar__item">
      <div class="dms_menu-sidebar__icon-cell">
        <svg class="dms_menu-sidebar__item-icon" role="presentation">
          <use xlink:href="#icon-sb-invoice"></use>
        </svg>
      </div>
      <p class="dms_menu-sidebar__title">Счета</p>
    </li>
  </ul>
</div>