.header_lk {
  position: relative;
  grid-area: header;


  display: flex;
  justify-content: center;

  width: 100%;
  height: 100%;

  font-family: $mainFont;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);

  background-color: $white;


  @media screen and (min-width: 768px) {
    grid-column-start: 1;
    grid-column-end: 3;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);

    z-index: 3;
  }

}



.header_lk__wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  height: 100%;

  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;

  @media screen and (min-width: 768px) {
    justify-content: flex-start;
    padding: 0;
  }
}

.header_lk__menu-btn,
.header_lk__profile-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 4rem;
  height: 4rem;
}

.header_lk__menu-btn {
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.header_lk__profile-btn {
  @media screen and (min-width: 768px) {
    &--mob {
      display: none;
    }
  }
}

.header__icon-menu {
  width: 4rem;
  height: 4rem;

  fill: $darkgray;
}

.header_lk__head {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 1;

  @media screen and (min-width: 768px) {
    &--mob {
      display: none;
    }
  }


}


.header_lk__title {
  font-size: $mainFs;
  color: $exdarkgray;
}

.header_lk__profile-img {
  width: 4rem;
  height: 4rem;
}


// Desktop components
.header_lk__col-left {
  display: none;

  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 25rem;
    height: 100%;

    border-right: 1px solid $lightgray;
  }

}

.header_lk__nav {
  display: none;

  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    flex-grow: 1;

    padding-left: 2rem;
    padding-right: 2rem;
    box-sizing: border-box;
  }
}

.header_lk__place {
  margin-right: 1.6rem;
  font-size: $m-Fs;
  font-weight: 500;
  color: $exdarkgray;
}

.header_lk__name {
  font-size: $m-Fs;
  font-weight: 300;
  color: $darkgray;
}

.header_lk__btn-block {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  margin-left: auto;
}

.header_lk__btn-item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 4rem;
  height: 4rem;

  cursor: pointer;

  &:hover .header_lk__item-sub {
    display: flex;
  }

}

.header_lk__icon {
  width: 4rem;
  height: 4rem;
  fill: $exdarkgray;

  &:hover {
    fill: $darkgray;
  }
}



// Submenu
.header_lk__item-sub {
  position: absolute;
  top: 3.5rem;
  right: 0;

  display: none;

  flex-direction: column;
  justify-content: flex-start;

  width: 36rem;
  min-height: 4rem;

  padding-top: 2rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  box-sizing: border-box;

  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);

  background-color: $white;
  border-radius: 0.5rem;
  border: 1px solid $lightgray;
}

.header_lk__sub-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  width: 100%;

}

.header_lk__sub-item {
  display: flex;
  align-items: center;

  width: 100%;

  margin-bottom: 1.5rem;

  font-size: $s-Fs;
  color: $exdarkgray;
}

.header_lk__sub-link {
  font-size: $s-Fs;
  color: $exdarkgray;
  text-decoration: none;

  &:hover {
    color: $blue;
  }

  &--btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 4rem;
    color: $gray;
    text-transform: uppercase;

  }

  &--bordtop {
    border-top: 1px solid $gray;
  }
}