*,
*::before,
*::after {
	box-sizing: border-box;
}

.flex {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
}

.--just-space {
	justify-content: space-between;
}

.--just-center {
	justify-content: center;
}

.--just-end {
	justify-content: flex-end;
}

.--align-str {
	align-items: stretch;
}

.--align-center {
	align-items: center;
}

.--align-end {
	align-items: flex-end;
}

.--dir-col {
	flex-direction: column;
}

html {
	font-family: "Roboto", sans-serif;
	font-size: 10px;
}

html,
body {
	position: relative;
}

body {
	font-size: 1rem;
}

ul,
ol,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 400;
	margin: 0;
}

input {
	font-family: inherit;
}

a,
button,
input {
	&:focus {
		outline: 1px solid #2981D9;
	}
}


ul {
	margin: 0;
	padding: 0;
	text-decoration: none;
}

li {
	list-style: none;
}