// Colors
$white:         #ffffff;
$black:         #000000;

  // gray
$lightgray:     #EDEDED;
$gray:          #C1C1C1;
$midgray:       #939393;
$darkgray:      #757575;
$exdarkgray:    #3D3D3D;

  // base
$base:          #195676;    $baseHover:     #1F6C94;

$red:           #D92323;
$blue:          #2981D9;
$green:         #4CAF50;
$gold:          #FFC700;
$warning:       #E28229;



// Fonts
$mainFont: "Roboto", sans-serif;

// Fonts size
$xxl-Fs: 3.6rem;
$xl-Fs: 2.4rem;
$l-Fs: 2.1rem;
$m-Fs: 1.8rem;
$mainFs: 1.6rem;
$s-Fs: 1.4rem;
$xs-Fs: 1.3rem;
$xxs-Fs: 1.2rem;

// Block size


