<!-- inline svg sprite -->
<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="752" height="40"
     viewBox="0 0 752 40" style="display: none;">
  <symbol>

  </symbol>
</svg>
<!-- ================= -->

<header id="hlk" class="header_lk">

  <div class="header_lk__wrapper">



    <button class="header_lk__menu-btn btn" @click="menuView = !menuView">
      <svg class="header__icon-menu" role="button">
        <use xlink:href="#icon-menu"></use>
      </svg>
    </button>

<!--  main sidebar  -->

    <section class="dms_menu-sidebar dms_menu-sidebar--mob" :class="{ activeshow: menuView }" v-show="menuView"
             @close="menuView = false">
      <button class="dms_menu-sidebar__close btn" @click="menuView = !menuView">
        <svg class="dms_menu-sidebar__icon-close" role="button">
          <use xlink:href="#icon-arrow"></use>
        </svg>
      </button>
      <h1 class="dms_menu-sidebar__h1 v-hidden">Боковое меню></h1>
      @@include('../bem-blocks/_dms_menu-sidebar.html')
    </section>
<!--  ================  -->


    <div class="header_lk__col-left">
      <img src="img/logo-DMS.svg" alt="логотип компании" class="dms_menu-sidebar__header-logo">
    </div>

    <div class="header_lk__head header_lk__head--mob">
      <p class="header_lk__title">Профиль</p>
    </div>


    <button class="header_lk__profile-btn btn header_lk__profile-btn--mob">
      <img class="header_lk__profile-img" src="img/icon-avatar.svg" alt="avatar">
    </button>

    <nav class="header_lk__nav">
      <h3 class="header_lk__place">Личный кабинет</h3>
      <span class="header_lk__name">Семёнов Юрий Анатольевич</span>

      <ul class="header_lk__btn-block">
        <li class="header_lk__btn-item">
          <svg class="header_lk__icon" role="button">
            <use xlink:href="#icon-busines-pr"></use>
          </svg>

          <div class="header_lk__item-sub">
            <ul class="header_lk__sub-list">
              <li class="header_lk__sub-item">
                <a href="#" class="header_lk__sub-link">Напоминание</a>
              </li>
              <li class="header_lk__sub-item">
                <a href="#" class="header_lk__sub-link">Аренда переговорки</a>
              </li>
            </ul>

            <a href="#" class="header_lk__sub-link header_lk__sub-link--btn header_lk__sub-link--bordtop">Перейти в
              каталог</a>

          </div>
        </li>
        <li class="header_lk__btn-item">
          <svg class="header_lk__icon" role="button">
            <use xlink:href="#icon-notification"></use>
          </svg>

          <div class="header_lk__item-sub"></div>
        </li>
        <li class="header_lk__btn-item">
          <svg class="header_lk__icon" role="button">
            <use xlink:href="#icon-phone-app"></use>
          </svg>

          <div class="header_lk__item-sub"></div>
        </li>
        <li class="header_lk__btn-item">
          <svg class="header_lk__icon" role="button">
            <use xlink:href="#icon-app"></use>
          </svg>

          <div class="header_lk__item-sub"></div>
        </li>
      </ul>

    </nav>

  </div>

</header>


<script>

  new Vue ({
    el: '#hlk',
    data: {
      menuView: false

    },
    methods: {

    }

  })

</script>
